{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}
<div class="container">
{% if form.errors %}
<p class="help-block">{% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}</p>
{% endif %}

<form class="col-md-6" method="post" action="{% url 'auth_login' %}">{% csrf_token %}
    <div class="form-group">
        <label class="form-label">{{ form.username.label }}</label>
        {{ form.username }}"
    </div>
    <div class="form-group">
        {% trans form.password.label_tag %}
        {{ form.password }}
    </div>
    <input type="submit" class="btn btn-lg btn-success" value="{% trans "login" %}" />
    <p>{% blocktrans %}<a href="{{ auth_pwd_reset_url }}">Forgot</a> your password?
    <a href="{{ register_url }}" class="btn btn-info">Need an account</a>?{% endblocktrans %}</p>

    
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% else %}
    <input type="hidden" name="next" value="/students/" />
    {% endif %}

</form>
</div>
{% endblock %}
